doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        mata(name = "twitter:card" content= "summary" )
        mata(name = "twitter:site" content= '@davidbongani' ${data})
        mata(name = "twitter:creator" content= "@sizwakhe")
        mata(property = "og:url" content= "https://davidbongani.com")
        mata(property = "og:title" content= "Fumeral And Catering")
        mata(property = "og:description" content= "We're the best developers in South Africa")
        mata(property = "og:image" content= "https://davidbongani.com/img.png")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/main.js')
        link(rel="preconnect" href="https://fonts.gstatic.com")
    body
        block content
